[package]
authors = ["German Lashevich <german.lashevich@gmail.com>"]
categories = ["command-line-utilities"]
description = "Manager of one-time password generators"
documentation = "https://github.com/zebradil/rustotpony"
homepage = "https://github.com/zebradil/rustotpony"
keywords = ["totp"]
license = "MIT"
name = "rustotpony"
readme = "README.md"
repository = "https://github.com/zebradil/rustotpony"
version = "0.2.6"

[dependencies]
base32 = "0.4.0"
clap = "^2.29.0"
keyring = "0.7.1"
oath = "0.10.2"
rand = "0.7"
rpassword = "4.0"
rust-crypto = "0.2.36"
serde = "1.0.24"
serde_derive = "1.0.24"
serde_json = "1.0.8"
dirs = "2.0.2"

[dependencies.ctrlc]
features = ["termination"]
version = "3.0"
[profile.release]
debug = false
lto = true
opt-level = 3
panic = "abort"
